name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  python-tests:
    name: Python Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: pip install pytest boto3

      - name: Run Lambda unit tests
        run: pytest ztxb-aws-lab/tests/ -v

  opa-tests:
    name: OPA Policy Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install OPA
        run: |
          curl -L -o opa https://openpolicyagent.org/downloads/v0.64.1/opa_linux_amd64_static
          chmod +x opa
          sudo mv opa /usr/local/bin/

      - name: Run Rego tests
        run: opa test ztxb-aws-lab/app/pdp/policy/ -v

  terraform-validate:
    name: Terraform Validate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.5.0"

      - name: Terraform Init
        working-directory: ztxb-aws-lab/infra
        run: terraform init -backend=false

      - name: Terraform Validate
        working-directory: ztxb-aws-lab/infra
        run: terraform validate
